@model DestinationViewModel
@{

    ViewData["Title"] = "Region";
    var destination = Model;
    int userId = await Model.GetUserId(User.FindFirst(ClaimTypes.NameIdentifier).Value);
    bool isContain = await Model.IsContain(Model.Id, userId);

}

    <div class="row" id="info-top">
        <div class="col-md-6 text-center" id="title-info">
            <h2>@destination.Name</h2>
        </div>
    @if (isContain == false)
    {
    <div class="col-md-6 text-center">
        <a asp-controller="Destination" asp-action="Join" asp-route-destinationid="@destination.Id" class="btn btn-success" id="button" role="button">
                <h2>Посети</h2>
            </a>
        </div>
    }
    @if(isContain == true)
    {
        <div class="col-md-6 text-center">
            <a asp-controller="Destination" asp-action="Leave" asp-route-destinationid="@destination.Id" class="btn btn-danger" id="button" role="button" style="background: #850505">
                <h2>Отмени</h2>
            </a>
        </div>
    }

    <div class="col-md-6 text-center">
        <a asp-controller="Destination" asp-action="Delete" asp-route-id="@destination.Id" class="btn btn-danger" id="button" role="button" style="background: #850505">
            <h2>Изтрий</h2>
        </a>
    </div>

    </div>

    <div class="row" id="info-mid">
        <div class="col-lg-6">
            <p id="info-text">
                @destination.Description
            </p>
        </div>
        <div class="col-lg-6">
            <img src="@destination.ImageUrl" class="img-fluid" id="info-img" alt="">
        </div>
    </div>
    <div class="col-md-12 text-center" id="info-new-comment">
    <a asp-controller="Comment" asp-action="Add" asp-route-destinationid="@destination.Id">
            <h2>Напиши коментар</h2>
        </a>
    </div>
        <div class="col-md-6 text-center">
    <a asp-controller="Comment" asp-action="All" asp-route-destinationid="@destination.Id" class="btn btn-success" id="button" role="button">
                <h2>Коментари</h2>
            </a>
        </div>
}

